@use '../common/sass/variables' as v;

nav {
    display: flex;
    max-height: 90px;
    background-color: v.$color--darker;
    border-radius: 0px 0px 25px 25px;
    align-items: center;
    column-gap: 20px;

    img {
        width: 50px;
        height: 50px;
    }

    h2 {
        font-size: 16px;
        color: v.$color--light;
        font-family: Poppins;
    }

    .first {
        display: flex;
        align-items: center;
        column-gap: 20px;
        padding-left: 20px;
    }
    
    .second {
        display: flex;
        margin-left: auto;
        column-gap: 20px;
        padding-right: 20px;
    }

    .addroom {
        height: 45px;
        width: 200px;
        background-color: v.$color--main;
        border-radius: 0 25px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 45px;
        }
    }

    .settings {
        height: 40px;
        width: 40px;
        background-image: url('../../resources/icons/settings.svg');
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .out {
        height: 40px;
        width: 40px;
        background-image: url('../../resources/icons/sign-out.svg');
        background-repeat: no-repeat;
        background-size: 40px;
    }
}